body {
    font-family: monospace;
    font-size:xx-large;
    color:teal;
    background-color:whitesmoke;
}

#todo-form {
    display: flex;
}

#todo-input {
    flex: 2;
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    border:darkcyan solid 0.1em;
    height: 5.5vh;
}

#todo-input:hover {
    scale: 1.01;
    border: none;
    border-radius: 0.1em;
    border:darkcyan solid 0.1em;
}

#add-button {
    font-size:1.5rem;
    font-weight: 900;
    flex:1;
    padding: 0.5em;
    margin-left: 0.5em;
    border: none;
    border-radius:5px;
    background-color: #00b8d4;
    color: white;
}

#add-button:hover {
    background-color: #0052cc;
}

#clear-button {
    font-size:1.5rem;
    font-weight: 900;
    flex: 1;
    margin-left: 0.5em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #e53935;
    color: white;
}

#clear-button:hover {
    background-color: #b71c1c;
}

#todo-list {
    margin: 0;
    padding: 0;
}

#todo-list li {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    color:seagreen;
}

#todo-list li:last-child {
    border-bottom: none;
}